@font-face{
    font-family: "inter";
    src: url('./assets/fonts/static/Inter-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
}

@font-face{
    font-family: "inter";
    src: url('./assets/fonts/static/Inter-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}
